.test-controls {
	background: #fff;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.test-controls label {
	display: block;
	margin-bottom: 5px;
}
.test-controls select {
	margin-left: 5px;
}

#test-card {
	position: static;
	border: 2px solid #333;
	border-radius: 8px;
	background: #fff;
	width: 8vw;
	height: 8vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2vw;
	user-select: none;
}
